<article class="post">
  <div class="post-box"> 
    <a href="" class="post-link">
      <h3><span class="title is-size-6">{{title}}</span> by {{ user.username }}</h3>
      <p class="content">
        {{post_text}}
      </p>
    </a>
  </div>
</article>

