
<div class="homepage">
  <div class="box">
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      <article class="post">
        {{> post-info post }}
      </article>
    </li>
    {{/each}}
  </ol>
</div>
</div>
