
<div class="homepage">
  <div class="box">
  <ol class="post-list">
    {{#if posts.length}}
      {{#each posts as |post|}}
      <li>
        <article class="post">
          {{> post-info post }}
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>      
        </article>
      </li>
      {{/each}}
    {{else}}
    <li>
      <p>No Posts Yet</p>
    </li>
    {{/if}}
  </ol>
</div>
</div>
