.main-section {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.auth-btn {
    width: 100%;
}

.login-box, .signup-box {
    padding: 8px;
    margin: 12px 0;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.dashboard {
    display: flex;
    flex-direction: column;
}
.dashboard, .homepage {
    width: 100%;
}
.post {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 8px 0;
}
.post-title {
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    width: 90%;
}
.post-list {
    list-style-type: none;
}